<!DOCTYPE html>
<html>
  <head>
    <title><%= productName %> - Flamenco metronome</title>

    <meta charset="utf-8">
    <meta name="description" content="<%= productDescription %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

    <link rel="icon" type="image/png" sizes="128x128" href="icons/favicon-128x128.png">
    <link rel="icon" type="image/png" sizes="96x96" href="icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png">
    <link rel="icon" type="image/ico" href="favicon.ico">

    <meta name="google-site-verification" content="fFgJbLDkYtQkpffxa1orGdi6V9djLge-WYfOe6ckqAA" />
    <meta property="og:title" content="A Compás - Flamenco metronome" />
    <meta property="og:description" content="A Compás is a web-based flamenco metronome, also available as an Android application. It will let you play various flamenco rhythms and change the tempo." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://acompas.org" />
    <meta property="og:image" content="https://acompas.org/icons/favicon-128x128.png" />
  </head>
  <body>
    <!-- quasar:entry-point -->
  </body>
</html>
