<script setup lang="ts">
import SelectPrivacy from 'src/components/SelectPrivacy.vue'
</script>

<template lang="pug">
q-page.bg-grey-10.text-grey-1.q-pa-sm.flex.justify-center.items-center
  select-privacy
</template>
